<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="row">
  <div class="col-xs-6">
    <h3>Gráfica de Incidentes</h3>
    <%= pie_chart @incidentes.group(:tipo).count %>
  </div>
</div>