<h1>Listing incidentes</h1>

<table id="incidentes-table">
  <tr>
    <th>Asunto</th>
    <th>Descripcion</th>
    <th>Responsable</th>
    <th>Tipo</th>
    <th>Prioridad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">Nuevo Incidente</a>